* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    position: relative; 
}

header,
section {
    overflow-x: hidden;
}

:root {
    --bggradient: linear-gradient(to bottom, #dd2476, #ff512f);
}

header a {
    font-size: 1.5em;
    color: whitesmoke;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 2px 15px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


header .nav-item {
    padding: 0.9em;
}


header .nav-link:hover {
    color: black;
}

header .row .col-md-7 {
    padding: 18vmin 1vmin;
    padding-bottom: 30vmin;
}

header .row .col-md-5 {
    padding: 10vmin 1vmin;
}

header {
    background: var(--bggradient);
}


header .row .col-md-7 h3 {
    padding: 1vmin;
    letter-spacing: 4px;
}

header .row .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .row .col-md-7 p {
    padding: 2vmin 5vmin;
}

.primary-btn {
    border-radius: 30px;
    font-weight: bold;
}



/* Section 1 */
.section1 {
    background: crimson;
    padding: 20vmin 0vmin;
}

.section1 .row .col-md-6 .first img {
    width: 100%;
    border-radius: 0.2em;
}

.section1 .row .col-md-6:last-child {
    position: relative;
}

.section1 .row .col-md-6 .card {
    position: absolute;
    top: 7vmin;
    left: -10vmin;
    background: white;
    border-radius: 3px;
    text-align: left;
    padding: 3vmin 5vmin 5vmin 5vmin;
    box-shadow: 0px 25px 42px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.section1 .row .col-md-6 .cardl h1 {
    font-weight: bold;
    padding: 0.4em 0;
    font-size: 2em;
}

.section1 .row .col-md-6 .card p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}


/* Section 2 */
.section2 {
    background: beige;
}

.cover {
    width: 100%;
    height: 55vmin;
    background: url("../img/section2.jpg");
    background-position: center left;
    background-size: 150%;
    background-position-x: -9vmin;
    position: relative;
}

.cover .content {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    padding-top: 19vmin;
}

.cover .content h1 {
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content p {
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 13rem;
    padding-top: 1vmin;
    margin: 1rem;
    border-radius: 0.5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);
}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    color: #dd2476;
    font-size: 8vmin;
}


.numbers .rect p {
    font-weight: bold;
    font-size: 3vmin;

}

/* Section 3 */

.section3 {
    background: var(--bggradient);
    padding: 5vmin;
}

.section3 .download {
    color: white;
    padding: 3vmin;
    font-size: 7vmin;
}

.section3 p {
    color: white;
}

.category .pc {
    position: relative;
    z-index: 1;
    background: white;
    width: 17rem;
    height: 7rem;
    padding-top: 1vmin;
    margin: 1rem;
    border-radius: 3em;
    box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.349);
}

.category .cp {
    position: relative;
    z-index: 1;
    background: white;
    width: 15rem;
    height: 9rem;
    padding-top: 1vmin;
    margin: 1rem;
    border-radius: 3em;
    box-shadow: 1px 2px 50px 0px rgba(0, 0, 0, 0.349);
}

/* Section 4 */

.section4 {
    background: aquamarine;

}

.section4 .row {
    padding: 5vmin 4vmin;
}


.card-body p {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.5);
}

.card img {
    border-radius: 50%;
}

/* Footer */

footer {
    background: rgb(59, 58, 58);
}

.col-md-5 span {
    color: rgb(0, 67, 252);
}

footer input {
    border: none !important;
}

footer input::placeholder {
    color: #ddd !important;
}

footer .input-group .input-group-text {
    background: var(--bggradient);
    border: none;
}

footer .column i {
    color: #dd2476;
}



/* Sticky */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.815);
    z-index: 9999;
    transition: all 1.5s ease;
}